<div class="container">
  <h3 class="ultimas text-uppercase font-weight-bold mt-5 text-left">
    <span class="badge badge-warning">Mensajes</span>
  </h3>

  <div *ngFor="let mensaje of mensajesEmail; let i = index;"  class="container text-center mt-3">
    <ul class="list-unstyled backUltimas28 pt-4 pl-4 pr-4 mt-1 text-justify">

      <li class="text-left">
        <span class="mr-3 colorTexto40">{{mensaje.created | date: 'fullDate'}}</span>
        <span>
          <small class="colorTexto40">{{mensaje.created | date: 'shortTime'}}</small>
        </span>
      </li>
      <li class="backMensajes44 mb-5">
        <div class="media-body">
          <h6 class="mb-1">
            <img src="../../../assets/img/email.jpg" class="tamanoYo29 rounded-circle mr-2 backImgNoti30">
            <span class="backTituloNoti33">{{mensaje.email}}</span>
            <a href="mailto:prueba1@esprueba.co.uk" target="_blank" rel="noopener noreferrer">
              <i class="fas fa-reply ml-4 colorName3 cursor7"></i>
            </a>
            <i (click)="borrarMensaje(mensaje)"  class="far fa-trash-alt ml-4 cursor7"></i>
          </h6>
          <span class="colorNoti31">{{mensaje.mensaje}} </span>
          <div class="text-center">
            <span class="badge badge-warning mr-3">{{i+1}}/{{mensajes.suma}}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
